body {
    background-color: rgb(16, 95, 95);
    padding-bottom: 20px;
    color:whitesmoke; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 30px 30px 35px 30px;
    font-size: medium; 
  }

 h1, h2, h3, h4, h5, h6 {
    color: white; 
    text-align: center; 
    font-weight: bold; 
    font-family: Verdana, sans-serif; 
  
  }

  h2.header {
      text-align: center; 
  }

  div.box {
    text-align: center; 
    background-color:  rgb(10, 71, 71);
    color: whitesmoke; 
    padding-left: 50px;
    padding-right: 50px; 
    padding-top: 50px;
    padding-bottom: 50px;

  } 

  h4 {
    text-align: center; 
    font-size: medium;
  }

  ul {
    font-size: medium;
    color: whitesmoke;
  }

  ol {
    font-size: medium;
  }

  a {
    color: whitesmoke; 
  }

  a:hover {
    color:  rgb(9, 58, 58);
    text-decoration: transparent;
  }

  div.light-box {
    text-align: center; 
    background-color:  rgba(7, 124, 124, 0.74);
  }

  img {
    color: whitesmoke; 
    text-align: center;
    max-width:40%; 
    max-height: 20%;
    padding-right: 40px;
  }

  img.image1 {
    max-width: 20%; 
    max-height: 55%;
    padding-right: 10px;
    float: left; 
  }

  img.image2 {
    max-width: 20%; 
    max-height: 50%;
    padding-right: 10px;
    float: left; 
  }

p.quote {
  font-style: italic;
  color: whitesmoke;
  text-align: center;
}

p.description {
  text-align: center;
}

div.lightbox {
  text-align: center;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}
ul.bullet{
  color: whitesmoke; 
  text-align: left;
}

a.footer {
  background-color: rgba(7, 124, 124, 0.74);
  
}

p.footer {
  text-align: right;
}

div.flex-container {
  background-color:  rgba(7, 124, 124, 0.74);
  display: flex;
  flex-wrap: wrap;
}

.aligncenter {
  color: whitesmoke; 
  text-align: center;
  max-width:40%; 
  max-height: 40%;
  padding-right: 10px;
}

div.content {
  background-color:  rgba(7, 87, 87, 0.74);
}

div.content-details {
  background-color:  rgb(10, 71, 71);
}